* {
  border: none;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}

.App {
  width: 100vw;
  height: 100vh;
  font-family: Helvetica;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 0;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
  z-index: 0;
}

@media screen and (max-width: 700px) {
  * {
    font-size: 0.9rem;
  }
}
